<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>About Page</title>
    <meta name="author" content="Myo Myint Htoo">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/resume.css">
  </head>

  <body>
   <h1 style="text-align: center;"> Wireframe Designs</h1>
   <h3 style="text-align: center;"> Leaderboard Design</h3> <br>
   <img src="Leaderboard.png"> 
   <br><br>
   <h3 style="text-align: center;"> Trade Design</h3> <br>
   <img src="Trade.png"> 
   <br><br>
   <h3 style="text-align: center;"> Learning Design</h3> <br>
   <img src="Learning.png"> 
   <br><br>

  </body>
</html>
