<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>About Page</title>
    <meta name="author" content="Myo Myint Htoo">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/resume.css">
  </head>

  <body>
   <h1 class="resume-name"> Wireframe Designs</h1>
   <p> Leaderboard Design</p> <br>
   <img src="Leaderboard.jpeg"> 
   <br><br>
   <p> Trade Design</p> <br>
   <img src="Trade.jpeg"> 
   <br><br>
   <p> Learning Design</p> <br>
   <img src="Learning.jpeg"> 
   <br><br>

  </body>
</html>
