<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/resume.css">
  </head>

  <body>

    <div class='top-bar'>
      <h1 class="resume-name"> Myo Myint Htoo</h1>
      <p class = "info"> mhtoo@ucsd.edu | (619) 631-9270 | <a href="https://www.linkedin.com/in/myo-myint-htoo-398aa218a/"> LinkedIn </a> | <a href="https://github.com/mhtoo"> Github </a></p>
    </div>

    <div class = "content-resume-container">
      <div class = "title-heading">
        Summary
      </div><hr class="line-solid">
      <div class = "education">
        <p>
          I am a 4th year UC San Diego Computer Engineering student. I have experience and expertise as a web developer as well as a
software engineer. My aim is to become a full-stack software engineer.
        </p>
      </div>
    
    <div class = "title-heading">
      Please find my education, experience, and skills below
    </div><hr class="line-solid">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRQQaEDVQSiItStcitlMY0QNHOdXY2m07KKtAib46qmZq4wkFJUbYOA4Q_W52igtQ/pub?embedded=true"
    scrolling="auto"
    height="1000"
    width="100%"></iframe>
    </div>



  </body>
</html>
